In [1]:
num = 12
name = 'Sam'

In [2]:
print('My number is {} and my name is {}, more {}'.format(num, name, num))

My number is 12 and my name is Sam, more 12

In [3]:
s = 'abcdefghijk'

In [4]:
s[0:]

'abcdefghijk'

In [5]:
nest = [1,2,3,[4,5,['target']]]

In [6]:
print(nest[3][2][0])

target

In [7]:
d = {"k1": {'innerkey': [1,2,3]}}

In [8]:
d['k1']

{'innerkey': [1, 2, 3]}

In [9]:
d['k1']['innerkey'][1]

2

In [10]:
{1,2,3}

{1, 2, 3}

In [11]:
s= {1,2,3,4,3,3,2,2,4}

In [12]:
s

{1, 2, 3, 4}

In [13]:
s.add(5)

In [14]:
s

{1, 2, 3, 4, 5}

In [15]:
set([1,2,3,4,5,6,6,6,6,6,6,6,3,2,1])

{1, 2, 3, 4, 5, 6}

In [16]:
a > b

NameError: name 'a' is not defined

In [18]:
'a' < 'b'

True

In [19]:
x = [1,2,3,4]

In [21]:
out = []

for num in x:
    out.append(num**2)

In [22]:
print(out)

[1, 4, 9, 16]

In [23]:
ss = [num**2 for num in x]

In [24]:
ss

[1, 4, 9, 16]

In [25]:
def times2(var):
    return var*2

In [26]:
times2(5)

10

In [ ]:
# Map

In [28]:
seq = [1,2,3,4,5]

In [30]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [31]:
list(map(lambda x: x*2, seq))

[2, 4, 6, 8, 10]

In [32]:
t = lambda x: x*2

In [33]:
t(6)

12

In [36]:
list(filter(seq))

TypeError: filter expected 2 arguments, got 1

In [37]:
s = 'hello my name is Sam'

In [38]:
s.lower()

'hello my name is sam'

In [39]:
s.upper()

'HELLO MY NAME IS SAM'

In [40]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [45]:
tweet = 'Go Sports! #Sports'

In [48]:
tweet.split('!')[1]

' #Sports'